Thoughts.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Thoughts.xcodeproj/project.xcworkspace/xcshareddata/Thoughts.xccheckout
Thoughts.xcodeproj/project.xcworkspace/xcuserdata/zakavila.xcuserdatad/UserInterfaceState.xcuserstate
Thoughts.xcodeproj/xcuserdata/zakavila.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Thoughts.xcodeproj/xcuserdata/zakavila.xcuserdatad/xcschemes/Thoughts.xcscheme
Thoughts.xcodeproj/xcuserdata/zakavila.xcuserdatad/xcschemes/xcschememanagement.plist
